# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client-manager-web/node_modules
/client-manager-web/.pnp
/client-manager-web/.pnp.js
/node_modules
.pnp
.pnp.js

# testing
/client-manager-web/coverage
/coverage

# production
/client-manager-web/build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
